.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-container-desktop);

  @media (max-width: 834px) {
    padding: 0 var(--spacing-container-tablet);
  }

  @media (max-width: 393px) {
    padding: 0 var(--spacing-container-mobile);
  }
}
