@use '../../styles/variables' as variables;

.phone_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  list-style: none;
  border-top: 0.5px solid var(--color-primary);
  border-left: 0.5px solid var(--color-primary);
}

.phone_grid__item {
  border-right: 0.5px solid var(--color-primary);
  border-bottom: 0.5px solid var(--color-primary);
}

.phone_grid__message {
  font-size: var(--font-size-md);
  color: var(--color-gray);
  padding: var(--spacing-xl) 0;
}
